body {
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    color: black
}

main {
    color: grey
}

footer {
    color: grey
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    color: black;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #696969;
}

h4 {
    color: #708090;
}